<!-- include header -->
<%- include('include/_header') %>
    <!-- /include header -->

    <!--Main Site-->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/index"><i class="fas fa-angle-double-left" aria-hidden="true"></i>Trailers</a>
                </div>
            </div>

            <div class="form-title text-center">
                <h2 class="text-dark">NUEVO TRAILER</h2>
                <sapn class="text-light">Utilice este formulario para agregar un Nuevo Trailer</sapn>
            </div>

            <%- include('include/_form') %>

        </div>
    </main>
    <!--/Main Site-->

    <!-- include footer -->
    <%- include('include/_footer') %>
        <!-- /include footer -->